@model  Todo_Asp_Mvc.Net.Models.Person
<a href="@Url.Action("Index","Person")" class="btn btn-sm"><i class="fa fa-arrow-circle-left"></i> Retour</a>

<h2>@ViewBag.Title</h2>

<form class="form-group-lg-12 " method="post" action="@Url.Action("Store","Person")">

    @Html.AntiForgeryToken()
    <section>
        <p>
            <label>Nom</label>
            <input type="text" name="Nom" value="@Model.Nom" class="form-control" />
        </p>
        <p>
            <label>Prenom</label>
            <input type="text" name="Prenom" class="form-control" value="@Model.Prenom" />
        </p>
        <p>
            <label>Date de Naissance</label>
            <input type="datetime-local" name="Nom" class="form-control" value="@Model.DateNaissance" />
        </p>
        <p>
            <label>Adresse</label>
            <select class="form-control">
                <option value="1"> value</option>
            </select>
        </p>
        <p>
            <button type="submit" class="btn btn-sm btn-success"> <i class="fa fa-user-edit"></i> Modifier</button>
            <button type="reset" class="btn btn-sm btn-danger"> <i class="fa fa-cancel"></i> Annuler</button>
        </p>
    </section>
</form>

